@page
@model IndexModel
@{}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Webpage Title</title>
    <!-- Link to external CSS file -->
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <!-- HTML content -->
    <header>
        <div class="container">
            <a href="https://www.zealand.dk/">
                <img src="https://www.zealand.dk/wp-content/uploads/2019/01/Zealand_logo_black_RGB_1600px_72dpi.png" alt="Erhvervsakademi Sjælland" style="height: 30px;">
            </a>
            <h1 class="ml-3"> - Anders Børjesson </h1>
        </div>
    </header>
    <main class="container">
        <div class="profile-container">
            <div>
                <strong>
                    Anders Børjesson (anbo)<br>
                    Cand.scient. i matematik og datalogi<br>
                    Lektor på Datamatikeruddannelsen<br>
                    Zealand, Sjællands Erhvervsakademi, Roskilde
                </strong>
                <div class="container d-flex justify-content-start">
                    <a href="https://anbo-easj.dk/cv/">
                        <img src="https://cdn-icons-png.flaticon.com/512/36/36049.png" alt="CV" class="icons">
                    </a>
                    <a href="https://github.com/andersbor">
                        <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="GitHub" class="icons">
                    </a>
                </div>
            </div>
            <img src='https://anbo-easj.dk/cv/andersBorjesson.jpg' alt="Profile Picture" class="profile-pic ml-auto">
            <!-- foto stjålet fra https://anbo-easj.dk/cv/andersBorjesson.jpg -->
        </div>
        <div class="row">
            <div class="col-md-6">
                <p>
                    Address (work):<br>
                    <a href="https://www.zealand.dk/">Maglegårdsvej 2, 4000 Roskilde</a><br>
                    E-mail (work) <a href="mailto:anbo@zealand.dk">anbo@zealand.dk</a>
                </p>
            </div>
        </div>
        <hr class="my-4">
        <div class="row">
            <div class="col-md-4">
                <strong>Teaching autumn 2019</strong><br>
                <a href="https://docs.google.com/document/d/e/2PACX-1vQnP5GDXd2YmuUapbnNgaUAK-4gsDtZGDl-qZT-g3xsUCSvPhfr1OTdo7esf_b3qm3ypfQSwMuz5Mab/pub">Programmering 3sem</a> Datamatiker <br>
                <a href="https://docs.google.com/document/d/e/2PACX-1vQSdR7ZSr7DfFCc8SC0tSqz8VaLKHN8LCGRmfxTFVnl1GgkHnk_Wr_-7r_Lr5EX-qpOt7sBzo6SmHH0/pub">Mobile Application Development</a>, 4th semester Comp Science<br>
                <a href="https://anbo-easj.dk/internship/index.html">Internship</a>, 5th semester, Comp Science<br>
                <a href="https://anbo-easj.dk/dissertation2020spring/">Dissertation course</a> <br>
                Dissertations, Computer Science<br>
            </div>
            <div class="col-md-4">
                <strong>Teaching spring 2019</strong><br>
                <a href="https://anbo-easj.dk/mobile2019spring/index.html">Mobile Application Development</a>, 4th semester Comp Science<br>
                <!-- Add more teaching links here -->
            </div>
            <div class="col-md-4">
                <strong>Teaching autumn 2018</strong><br>
                <a href="https://anbo-easj.dk/prog3_2018autumn/index.html">Programming, 3rd semester, Comp Science</a><br>
                <!-- Add more teaching links here -->
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="container d-flex align-items-center justify-content-between">
            <div>
                <a href="https://msdn.microsoft.com/en-us/default.aspx">Microsoft Developer Network</a> |
                <a href="https://msdn.microsoft.com/en-us/library/default.aspx">MSDN Library: Intro. til programmeringssprog mv.</a> <br>
                <a href="https://anbo-easj.dk/bekendtgoerelser/">Bekendtgørelser</a> om datamatiker-uddannelsen, eksamen og lign.
                <a href="https://anbo-easj.dk/index2.htm">(Original)index</a>
            </div>
            <div>
                <a href="https://anbo-easj.dk/cv/">
                    <img src="https://cdn-icons-png.flaticon.com/512/36/36049.png" alt="CV" class="icons">
                </a>
                <a href="https://github.com/andersbor">
                    <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="GitHub" class="icons">
                </a>
            </div>
        </div>
    </footer>
</body>
</html>
